@model Notentool.Models.Entities.Semester

@{
    ViewData["Title"] = "Löschen";
}

<h1>Löschen</h1>

<h3>Willst du dies wirklich löschen?</h3>
<div>
    <h4>Semester</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SemesterID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Zurück</a>
    </form>
</div>
