@{
    ViewData["Title"] = "Modul";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("ModulErstellen", "Modul", FormMethod.Post))
{
    <!-- form goes here -->

    <table>
        <tr>
            <td>
                @Html.Label("Modulname")
            </td>
            <td>
                @Html.TextBoxFor(modul => modul.name)
            </td>
            <td>
                @Html.DropDownListFor(model => model.semesterID, ViewBag.SemesterListItem as SelectList, new { @class = "form-control" })
            </td>
        </tr>
    </table>

    <input type="submit" value="Modul hinzufügen"/>

}