@model Notentool.Models.Entities.Modul

@{
    ViewData["Title"] = "Löschen";
}

<h1>Löschen</h1>

<h3>Willst du dies wirklich löschen?</h3>
<div>
    <h4>Modul</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-semesterId="@ViewContext.RouteData.Values["semesterId"]">
        <input type="hidden" asp-for="ModulID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-semesterId="@ViewContext.RouteData.Values["semesterId"]">Zurück</a>
    </form>
</div>
