@{
    ViewData["Title"] = "Semester";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("SemesterErstellen", "Semester", FormMethod.Post))
{
    <!-- form goes here -->

    <table>
        <tr>
            <td>
                @Html.Label("Name")
            </td>
            <td>
                @Html.TextBoxFor(semester => semester.name)
            </td>
        </tr>
    </table>

    <input type="submit" value="Semester hinzufügen" />

}
